#titulo-principal {
    text-align: center;
    margin: 0.5em 0;
}

#contenedor-libro {
    display: flex;
    gap: 0.5em;
    padding: 2em;
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
}

#datos-libro {
    width: 25%;
}

#detalle-libro {
    display: flex;
    flex-direction: column;
    width: 75%;
    
}

h2 {
    margin-top: 0;
}

ul {
    padding-left: 1.5em;
}

#contenido-libro {
    display: flex;
    flex-direction: column;
}

#partes-libro {
    display: flex;
    gap: 2em;
}

#parte-1 {
    width: 50%;
}

#parte-2 {
    width: 50%;
}


#controles {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 0;
}


#partes-libro.vertical {
  flex-direction: column;
  gap: 1em;
}
#partes-libro.vertical > section {
  width: 100%;
}

